<br />

<div class="booyah-box col-10 offset-1">
  <h1>Want to build your own web app?</h1>
  
  Learn now to code here ... 
  <%= link_to 'https://online.bootcampspot.com' do %>
    <span style="font-size: 48px;">
      <i class="fas fa-cloud about-button"></i>
    </span>
<!--    <span class='far fa-laptop-code about-button'></span> -->
  <% end %>
  
</div>