<br />

<div class="booyah-box col-8 offset-2">
  <h1>Want to build your own web app?</h1>
  
  Learn how to code here ... 
  <%= link_to 'https://online.bootcampspot.com' do %>
    <span style="font-size: 48px;">
      <i class="fa fa-cloud fa-2x about"></i>
    </span>
  <% end %>  
</div>