<br />

<div class="booyah-box col-10 offset-1">
  <h1>Want to build your own web app?</h1>
  
  Learn now to code here ... 
  <%= link_to 'https://online.bootcampspot.com' do %>
    <span class='fa fa-laptop-code fa-2x about-button'></span>
  <% end %>
  
</div>