@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #e4e4e4;
  padding: 10px;
  position: relative;
  left: 25%;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
  color: blue;
}

.navbar .navbar-inverse {
  font-family: 'oswalddemibold', sans-serif;
  color: #6699ff;
  box-shadow: 0px 3px 6px #606060;
  bar-radius: 8px;
  background: image_url('paper_fibers.png');
  margin-bottom: 0;
}

.navbar-brand {
  font-family: 'josefin_slabsemibold', sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #6699ff;
}

.nav-link {
  color: #6699ff;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #606060
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}

.frosty .h1 {
  font-family: 'oswalddemibold', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
}

.frosty .h2 {
  font-family: 'oswalddemibold', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('bg.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}